<h1>New game</h1>

<p><%= @letters %></p>

<form action="/score" method="post" data-turbo="false">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <!-- ... -->
  <label for="longestWord1">What is the longest word you can find?</label>
  <input type="text" name="word" id="longestWord1" placeholder="Type your word here">
  <%= hidden_field_tag 'randomletters', @letters %>
  <input type="submit">
</form>
